/* for scroll behaviour */
html{
    scroll-behavior: smooth;
}

/* navbar */

/* for menu drop down */
.menu-sitebar{
    position: relative;
    display: inline-block;
}
.menu-sitebar-content{
    display: none;
    padding: 4px;
    display: absolute;
    z-index: 10;
}
.menu-sitebar:hover .menu-sitebar-content{
    display: inline-block;
    
}
.avatar{
    height: 45px;
}
.sign-login-btn-container{
    display: flex;
    align-items: center;
    gap: 5px;
}
.sign-in-btn{
    border: 2px solid #8eb8be;
    padding: 6px 20px 6px 20px;
    border-radius: 7px;
}
.sign-up-btn{
    border: 2px solid #f0b156;
    padding: 6px 20px 6px 20px;
    border-radius: 7px;
}
/* section css*/

.section-container{
    margin: 80px 0px 80px 0px;
}
.section-title{
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 30px;
}

/* popular product card section */
.popular-product-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}


/* for product cards button */

.addToCartBtn{
    padding:14px 18px 14px 18px;
    font-size: 13px;
    color: white;
    border: 0;
    border-radius: 4px;
    background-color: #f0b156 ;
    font-weight: 600;
}
.addToCartBtn:hover{
    box-shadow: 0 10px 15px -3px #f0b156, 0 4px 6px -2px #f0b156;
    background-color: #e2e3e4;
    color: #f0b156;
    transition: box-shadow 0.3s ease;
    scale: 1.01;
    transition: ease-out;
    transition-duration: 500ms;
}
.buyBtn{
    padding:14px 18px 14px 18px;
    font-size: 13px;
    color: white;
    border: 0;
    border-radius: 4px;
    background-color: #8eb8be ;
    font-weight: 600;
}
.buyBtn:hover{
    box-shadow: 0 10px 15px -3px #8eb8be, 0 4px 6px -2px #8eb8be;
    background-color: #e2e3e4;
    color: #8eb8be;
    transition: ease-out;
    transition-duration: 500ms;
    scale: 1.01;
    font-size:  14px; ;

}

/* google map */
.google-map{
    position: relative;
}
.google-map iframe{
    height: 70vh;
    width: 100%;
    left: 0;
    top: 0;
   
}

/* css for location section */
.location-section{
    background-color: #fff;
}
.location-text{
    padding: 20px;
    text-align: left;
    font-size: 20px;
}


/* newsletter css */
.newsletter-section{
    margin-top: 150px;
    height: 300px;
    display: flex;
    background-color: #fbfdfe;
    position: relative;
}

.newsletter-section img{
    height: 300px;
    scale:1.5 ;
    top: -100px;
    z-index: 1;
    position: absolute;
    padding-left: scale(100%-200px);
}