/* for scroll behaviour */
body{
    scroll-behavior: smooth;
    font-family: "Maven Pro", sans-serif;
}


/* navbar */

/* for menu drop down */
.menu-sitebar{
    position: relative;
    display: inline-block;
}
.menu-sitebar-content{
    display: none;
    padding: 4px;
    display: absolute;
    z-index: 10;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.menu-sitebar:hover .menu-sitebar-content{
    display: inline-block;
    
    
    
}
.avatar{
    height: 45px;
}
.sign-login-btn-container{
    display: flex;
    align-items: center;
    gap: 5px;
}
.sign-in-btn{
    border: 2px solid #8eb8be;
    padding: 6px 20px 6px 20px;
    border-radius: 7px;
}
.sign-up-btn{
    border: 2px solid #f0b156;
    padding: 6px 20px 6px 20px;
    border-radius: 7px;
}
/* section css*/

.section-container{
    margin: 80px 0px 80px 0px;
}
.section-title{
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 30px;
}

/* popular product card section */
.popular-product-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}


/* for product cards button */

.addToCartBtn{
    padding:14px 18px 14px 18px;
    font-size: 13px;
    color: white;
    border: 0;
    border-radius: 4px;
    background-color: #f0b156 ;
    font-weight: 600;
}
.addToCartBtn:hover{
    box-shadow: 0 10px 15px -3px #f0b156, 0 4px 6px -2px #f0b156;
    background-color: #e2e3e4;
    color: #f0b156;
    transition: box-shadow 0.3s ease;
    scale: 1.01;
    transition: ease-out;
    transition-duration: 500ms;
}
.buyBtn{
    padding:14px 18px 14px 18px;
    font-size: 13px;
    color: white;
    border: 0;
    border-radius: 4px;
    background-color: #8eb8be ;
    font-weight: 600;
}
.buyBtn:hover{
    box-shadow: 0 10px 15px -3px #8eb8be, 0 4px 6px -2px #8eb8be;
    background-color: #e2e3e4;
    color: #8eb8be;
    transition: ease-out;
    transition-duration: 500ms;
    scale: 1.01;
    font-size:  14px; ;

}

/* google map */
.google-map{
    position: relative;
}
.google-map iframe{
    height: 70vh;
    width: 100%;
    left: 0;
    top: 0;
   
}

/* css for location section */
.location-section{
    background-color: #fff;
}
.location-text{
    padding: 20px;
    text-align: left;
    font-size: 20px;
}


/* newsletter css */

.newsletter-section{
    margin-top: 250px;
    height: 300px;
    display: flex;
    gap: 200px;
    background-color: #fbfdfe;
    width: 100%;
}

.newsletter-section img{
    height: 300px;
    scale:1.5 ;
    top: -100px;
    left: 100px;
    z-index: 1;
    position: relative;
   
}

.newsletter-text-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px 20px 0px 20px;
    width: 50%;
}

.newsletter-heading{
    color: #6c4ba4;
    font-weight: 600;
    font-size: 35px;
    
}

/* for input field and input button */
.input-container{
    display: flex;
    border-radius: 70px;
}

.input-email{
    background-color: #e2e3e4;
    width: 50%;
    padding-left: 15px;
     border-radius: 4px 0px 0px 4px;
}
.input-email-btn{
    background-color: #ad203a;
    padding: 14px 18px 14px 18px;
    color: white;
    font-size: 13px;
    font-weight: 600;
    border-radius: 0px 4px 4px 0px;
}

/* contact us section css */

.section-title p{
    font-size: 20px;
    color: #8eb8be;
    margin-top: -10px;
    margin-bottom: 60px;
}

.contact-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.contact-card{
    background-color: #fff;
    padding: 0px 40px 30px 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    width: calc((100% - 400px)/3);
    border-radius: 7px;
}


.icon{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 1000px;
    padding: 10px;
    box-shadow:0px 4px 6px 4px rgb(224, 219, 219) ;
    position: relative;
    top: -30px;
    left: 40%;
}

.contact-card h2{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}

.contact-card p{
    color: #8eb8be;
}

/* footer css */
footer{
    background-color: #2f2e43;
    padding:30px 0px 30px 0px;
}

.footer-logo img{
    height: 45px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
}

.footer-text-column{
    color: #8eb8be;
}
.footer-text-column h1{
    font-size: 20px;
    color: #f0b156;
    margin-bottom: 10px;
}

.social-link-container{
    width: 100px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.social-link-container img{
    height: 30px;
}
.social-link-container img:hover{
    background-color: #f0b156;
    height: 30px;
    width: 30px;
    border-radius: 500px;
    transition: 0.3s;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
    }
.ani{
    animation: fadeOut 2s forwards;
    animation-timeline: scroll();
}
